---
permalink: /diary/
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, initial-scale=1.0">
    
    {% include share-meta-tags.html %}
    {% include favicon.html %}
    {% include fathom-tracking.html %}
    {% include fonts.html %}

    <link href="{{ '/assets/css/home.css' | prepend: site.baseurl_root }}" rel="stylesheet" type="text/css">
    <link href="{{ '/assets/css/diary.css' | prepend: site.baseurl_root }}" rel="stylesheet" type="text/css">
    <link href= "{{ site.baseurl }}{% t global.css %}" rel="stylesheet" type="text/css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.4.456/pdf.min.js" integrity="sha256-O6polm3ZRTZEOAneYbvsKty3c3KRcDf20McwtlCga5s=" crossorigin="anonymous"></script>
    
    <script src="{{ '/assets/scripts/vendors-node_modules_canvg_lib_index_es_js.bundle.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/scripts/vendors-node_modules_dompurify_dist_purify_js.bundle.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/scripts/vendors-node_modules_html2canvas_dist_html2canvas_js.bundle.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/scripts/bundle.js' | prepend: site.baseurl }}"></script>

    <title>Togather</title>
</head>
<body id='body'>
    <div class="loader"> </div>

    <script>

        // Internet Explorer 6-11
        var isIE = /*@cc_on!@*/false || !!document.documentMode;
        if(isIE) {
            window.location = "{{ site.baseurl }}/iesupport";
        }

        // Edge 20+
        var isEdge = !isIE && !!window.StyleMedia;

        // Chrome 1 - 79
        var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);

        // Edge (based on chromium) detection
        var isEdgeChromium = isChrome && (navigator.userAgent.indexOf("Edg") != -1);

        if(isEdge && !isEdgeChromium) {
            window.location = "{{ site.baseurl }}/edgesupport";
        }

    </script>

    <script>

        // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
        let vh = window.innerHeight * 0.01;
        // Then we set the value in the --vh custom property to the root of the document
        document.documentElement.style.setProperty('--vh', `${vh}px`);

        // We listen to the resize event
        
        window.addEventListener('resize', () => {
            // We execute the same script as before
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', `${vh}px`);
        });
      
    </script>

</body>
</html>