<div class="footer">
    <div class="footer__text">
        ToGather
    </div>
    <div class="row" style="height: 80px;">
        <div class="column">
            <div style="display: flex; flex-direction: column; width: 100px;">
                <a class="footer__text__small" href="{{ site.url }}{{ site.baseurl }}/"> Home </a>
                <a class="footer__text__small" href="{{ site.url }}{{ site.baseurl }}/topics"> Get a Topic </a>
                <a class="footer__text__small" href="{{ site.url }}{{ site.baseurl }}/explained"> Introduction </a>
                <a class="footer__text__small" href="{{ site.url }}{{ site.baseurl }}/instructions"> Instructions </a>
                <a class="footer__text__small" href="{{ site.url }}{{ site.baseurl }}/diary"> Assemble Diary </a>
                <a class="footer__text__small" href="{{ site.url }}{{ site.baseurl }}/about"> About </a>
            </div>
        </div>
        <div class="column" style="max-width: 200px;">
            <label for="languages" class='footer__text__small' style="padding:0;">Select Language:</label>
            <select name="languages" id="languages" style="margin-right:20px">
                <option value="en">English</option>
            </select>
            <button class="button contact" onclick="location.href='{{ site.url }}{{ site.baseurl }}/contact'"> Contact >> </button>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; padding-left: 15px;">
        <div style="width: 100px; height: 40px;padding-right: 12px;padding-bottom: 15px;"><embed src="{{ '/assets/images/Ongoingness-logo.svg' | prepend: site.baseurl }}"></div>
        <div style="padding: 0px 12px; padding-bottom: 15px;"> <img src="{{ '/assets/images/iDi_logo_extended_white.svg' | prepend: site.baseurl }}"> </div>
        <div style="padding: 0px 12px; padding-right: 24px; padding-bottom: 15px;"> <img src="{{ '/assets/images/openlab-vertical.svg' | prepend: site.baseurl }}"> </div>
        <div style="width: 125px; height: 40px; padding-right: 12px; padding-bottom: 15px;"> <img width="150" height="40" src="{{ '/assets/images/unn_logo_white.png' | prepend: site.baseurl }}"> </div>
        <div style="width: 120px; height: 40px; padding: 0px 12px; padding-bottom: 15px;"> <img width="120" height="40" src="{{ '/assets/images/NCL_logo_white.png' | prepend: site.baseurl }}"> </div>
    </div>
</div>