<div id="gs1" class="group-start-message">
    {% t group-start.gs1 %}
    <button id="gs2" class="primary" onclick="openModal()" style="margin: 20px auto;">
        {% t group-start.gs2 %}
    </button>
</div>
<div id="nameModal" class="modal">
    <div class="modal-content">
        <a class="modal__close-button" onclick="closeModal()">×</a>
        <p id="gs4">{% t group-start.gs4 %}</p>
        <input id="name" class="modal__input-name" type="text">
        <button class="button round pick" onclick="shareMessage()" style="margin-top: 20px;">
            {% t group-start.gs2 %}
        </button>
    </div>
</div>

<script>

    window.onclick = (event) => {
        const modal = document.getElementById("nameModal");
      if (event.target == modal)
        closeModal()
    }
    
    const openModal = () => {
        document.getElementById("nameModal").style.display = "block";
        document.getElementById("name").focus();
    }
    
    const closeModal = () => {
        document.getElementById("nameModal").style.display = "none";
    }
    
    const shareMessage = () => {

        window.fathom.trackGoal('81PEBYZD', 0);
        
        let name = document.getElementById('name').value;
        name = name.trim();
    
        const text = `{% t group-start.gs3 %}`;
    
        const link = (navigator.userAgent.match(/Android/i) 
                    || navigator.userAgent.match(/webOS/i) 
                    || navigator.userAgent.match(/iPhone/i)  
                    || navigator.userAgent.match(/iPad/i)  
                    || navigator.userAgent.match(/iPod/i) 
                    || navigator.userAgent.match(/BlackBerry/i) 
                    || navigator.userAgent.match(/Windows Phone/i)) ? 
                    `https://api.whatsapp.com/send?text=${encodeURI(text)}`:
                    `https://web.whatsapp.com/send?text=${encodeURI(text)}`;
    
        closeModal();
        document.getElementById('name').value = '';
        window.open(link, '_blank');
    }
    
    </script>