<header id='header'>
    <div class="header__top">
        <span>{% t include.title %}</span>
        <span class="header__right">
            <button class="header__hamburguer" aria-label="Open Navigation Overlay" onclick="openNav()" tabindex="0">
                <div class="hamburguer-line"></div>
                <div class="hamburguer-line"></div>
                <div class="hamburguer-line"></div>
            </button>
        </span>
    </div>
    <div class="header__bottom"></div>
    <nav id="myNav" class="overlay">
        <button class="close-button" aria-label="Close Navigation Overlay" onclick="closeNav()">&times;</button>
        <div id="myNavContent" class="overlay-content">
          <a id="home-a" href="{{ site.url }}{{ site.baseurl }}/">{% t nav-overlay.home-a %}</a>
          <a id="topic-a" href="{{ site.url }}{{ site.baseurl }}/topics">{% t nav-overlay.topic-a %}</a>
          <a id="explained-a" href="{{ site.url }}{{ site.baseurl }}/explained">{% t nav-overlay.explained-a %}</a>
          <a id="instructions-a" href="{{ site.url }}{{ site.baseurl }}/instructions">{% t nav-overlay.instructions-a %}</a>
          <a id="diary-a" href="{{ site.url }}{{ site.baseurl }}/diary">{% t nav-overlay.diary-a %}</a>
          <a id="about-a" href="{{ site.url }}{{ site.baseurl }}/about">{% t nav-overlay.about-a %}</a>
          <a id="contact-a" href="{{ site.url }}{{ site.baseurl }}/contact">{% t nav-overlay.contact-a %}</a>
        </div>
    </nav>
    <script>

        const overlayContent = document.getElementById('myNavContent'); 

        overlayContent.style.minWidth = `${document.body.offsetWidth}px`;
        window.addEventListener('resize', (e) => overlayContent.style.minWidth = `${document.body.offsetWidth}px`);

        const splittedPageUrl = '{{page.url}}'.split(/[\/.]+/);
        switch(splittedPageUrl[1]) {
            case '':
                document.getElementById('home-a').style.textDecoration = 'underline';
                break;
            
            case 'topics':
            document.getElementById('topic-a').style.textDecoration = 'underline';
                break;
        
            case 'explained':
                document.getElementById('explained-a').style.textDecoration = 'underline';
                break;
        
            case 'instructions':
                document.getElementById('instructions-a').style.textDecoration = 'underline';
                break;
     
            case 'diary':
                ocument.getElementById('diary-a').style.textDecoration = 'underline';
                break;
        
            case 'about':
                document.getElementById('about-a').style.textDecoration = 'underline';
                break;
                
            
            case 'contact':
                document.getElementById('contact-a').style.textDecoration = 'underline';
                break;
        }
        

        // Will hold previously focused element
        let focusedElementBeforeOverlay;

        // Find the modal and its overlay
        let overlay = document.getElementById("myNav");

        const openNav = () => {
            document.getElementById("myNav").style.visibility = 'visible'
            document.getElementById("myNav").style.width = "100%";
            
            // Save current focus
            focusedElementBeforeOverlay = document.activeElement;

            const trapTabKey = (e) => {
                // Check for TAB key press
                if (e.keyCode === 9) {
                    // SHIFT + TAB
                    if (e.shiftKey) {
                        if (document.activeElement === firstTabStop) {
                            e.preventDefault();
                            lastTabStop.focus();
                        }
                    // TAB
                    } else {
                        if (document.activeElement === lastTabStop) {
                            e.preventDefault();
                            firstTabStop.focus();
                        }
                    }
                }
                // ESCAPE
                if (e.keyCode === 27) {
                    console.log('clise');
                    closeNav();
                }
            }
            // Listen for and trap the keyboard
            overlay.addEventListener('keydown', trapTabKey);

            // Listen for indicators to close the modal
           // modalOverlay.addEventListener('click', closeModal);

            // Find all focusable children
            var focusableElementsString = 'a[href], area[href], input:not([disabled]), select:not([disabled]), textarea:not([disabled]), button:not([disabled]), iframe, object, embed, [tabindex="0"], [contenteditable]';
            var focusableElements = overlay.querySelectorAll(focusableElementsString);
            // Convert NodeList to Array
            focusableElements = Array.prototype.slice.call(focusableElements);

            var firstTabStop = focusableElements[0];
            var lastTabStop = focusableElements[focusableElements.length - 1];

            // Focus first child
            firstTabStop.focus();
        }
        
        const closeNav = () => {
            focusedElementBeforeOverlay.focus();
            document.getElementById("myNav").style.width = "0%";
            document.getElementById("myNav").style.visibility = 'hidden';
        }
        </script>
</header>