<div class="intro">
    <div class="section-title"> Introduction </div>
    <div class="section-body">
        <div class="section-body__content">
            <embed class="phone-image" src="{{ '/assets/images/Whatsapp_group_anonymous.svg' | prepend: site.baseurl }}">
            <div class="text-block first">
                Gather a group on whatsapp
            </div>
            <div class="text-block second">
                Get a nostalgic, creative, fun or challenging topic
            </div>
            <embed class="phone-image second" src="{{ '/assets/images/Share_challenge.svg' | prepend: site.baseurl }}">
            <div class="text-block third">
                Share it with your group
            </div>    
            <embed class="phone-image third" src="{{ '/assets/images/Whatsapp_conversation_not anonymous.svg' | prepend: site.baseurl }}">
            <div class="text-block fourth">
                Create / capture / write / photograph
            </div>  
            <div class="text-block fifth">
                Repeat this every day
            </div>  
        </div>
        <div class="text-box-1">
            So when they get out, you can share all the love and support you wanted to give them in a diary full of your stories, thoughts and images. 
        </div>

        <div>
            image carossel
        </div>

        <p class="intro-text-greet"> Hi there!</p>
        <div class="intro-text">
            We understand that you might
            be going through some difficult
            times while someone dear to
            you is fighting in the hospital. At
            these times it can feel strange
            that the world just keeps going
            without them taking part in it.
            You might feel like you want to
            do something for them, but few
            of us can. Therefore, we want to
            help to capture your experience
            of some everyday moments with
            the other people around you
            that feel the same. So, when your
            loved one leaves the hospital,
            you’ll have a diary of those days
            and thoughtful messages to
            share with them. Besides that,
            it might also take your mind of
            things while you are capturing
            some things that happen in your
            life as a group through a different
            lens. Have a look at ones we’ve
            made ourselves, and when you
            are ready to get started just follow
            the steps described below! 
        </div>
    </div>
    <div class="section-title"> How it works </div>
    <div class="section-subtitle"> To Start </div>
    <div class="section-body">
        <div class="text-box-2">
            Create a group in Whatsapp
            with all the people that want to
            contribute to this diary.
        </div>
        <a class="how-to-link" href="https://faq.whatsapp.com/en/android/26000123/?category=5245251" target="_blank"> How-to for Android </a>
        <a class="how-to-link" href="https://faq.whatsapp.com/en/iphone/26000115/?category=5245251" target="_blank"> How-to for iOS </a>
        <div class="text-box-3">
            Let everyone know what this
            group is about. You can use our
            example: 
        </div>
        <div class="text-box-4">
            “Hi everyone, this group is a place
            where we can share things we
            would like to capture for [INSERT
            NAME] in a diary. Every day we will
            post a topic for inspiration what
            to message about today. If you
            have an idea for a topic feel free
            to share this. Also, if you just have
            something you want to share for
            the diary unrelated to the topic
            please do!
            As an opening of this group it would
            be nice to introduce everyone who
            is part of this, so post a picture of
            yourself, who you are to [INSERT
            NAME], and a short personal
            message for them. “
        </div>
        <button class="button copy" onclick="getChallenge()"> Copy Text </button>
        <div class="text-box-3">
            Now you are all set to share your
            daily entries for the diary.
        </div>
        <div class="section-subtitle margin"> Each Day </div>
        <div class="text-box-3">
            Visit this website to receive a new
            topic to share with the group. If you
            don’t like the randomly generated
            topic, then click the button to get
            a new one. When you are happy
            with the topic, then click to share
            it in you WhatsApp group.
        </div>
        <div class="text-box-3">
            You can also create your own
            topics for the diary. Just write about
            it and share it in your WhatsApp
            group as a message or photo. 
        </div>
        <div class="text-box-3">
            TIP: make it easy to find your own
            topics in the end by starting the
            message with the words “today’s
            topic is...”
        </div>
        <div class="text-box-3">
            Get everyone to share their
            responses in the WhatsApp group
            and repeat this process every day
            for as long as you would like to
            keep the diary going. 
        </div>
        <div class="section-subtitle margin"> To make the diary </div>
        <div class="text-box-3">
            When you are finished and want
            to turn your messages and photos
            into a diary for your loved one,
            simply export the chat log for the
            WhatsApp group and save it on
            your phone, computer or cloud
            storage (e.g. Google Drive, iCloud
            or Dropbox) 
        </div>
        <a class="how-to-link" href="https://faq.whatsapp.com/en/android/23756533/?category=5245251" target="_blank"> How-to export in Whatsapp</a>
        <div class="text-box-3">
            TIP: Anyone from the WhatsApp
            group can do this, so ask for help if
            you are having difficulties.
        </div>
        <div class="text-box-3">
            Come back to this website and
            upload your exported WhatsApp
            chat log (and media files). Don’t
            worry, your personal messages
            and media files are not being
            uploaded anywhere, everything is
            happening locally on your device –
            we don’t collect any personal data.
            This ensures your conversations
            and messages stay private and
            you have full control over who you
            want to share your diary with. 
        </div>
        <div class="text-box-3">
            Your group chat will be loaded
            and presented back to you in our
            Diary tool. You will be shown a
            list of topics that were shared in
            the WhatsApp group, a you can
            select any others that we missed
            or create your own by describing
            the topic for that day. 
        </div>
        <div class="text-box-3">
            For each topic you will be asked to
            select which messages you want
            to add to the diary for that day.
            Don’t worry if there is a day you
            didn’t submit anything, everyone
            deserves a rest, we will skip over
            those days and the dates will keep
            counting on.
        </div>
        <div class="text-box-3">
            When you have done this for every
            day of the diary you want to share,
            select the finish button and all
            your messages will be placed in
            the template and your diary will be
            ready for you to download so you
            can print it or share it with your
            family, friends and loved one.
        </div>
    
    
    </div>


</div>