<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a id="home-a" href="{{ site.url }}{{ site.baseurl }}/">Home</a>
      <a id="topic-a" href="{{ site.url }}{{ site.baseurl }}/topics">Get a topic</a>
      <a id="explained-a" href="{{ site.url }}{{ site.baseurl }}/explained">Introduction</a>
      <a id="instructions-a" href="{{ site.url }}{{ site.baseurl }}/instructions">Instructions</a>
      <a id="diary-a" href="{{ site.url }}{{ site.baseurl }}/diary">Assemble Diary</a>
      <a id="about-a" href="{{ site.url }}{{ site.baseurl }}/about">About Us</a>
    </div>
</div>
<script>
switch('{{page.url}}') {
    case '/':
        document.getElementById('home-a').style.textDecoration = 'underline';
        break;

    case '/topic.html':
    document.getElementById('topic-a').style.textDecoration = 'underline';
        break;

    case '/explained.html':
        document.getElementById('explained-a').style.textDecoration = 'underline';
        break;

    case '/instructions.html':
        document.getElementById('instructions-a').style.textDecoration = 'underline';
        break;

    case '/diary.html':
        ocument.getElementById('diary-a').style.textDecoration = 'underline';
        break;

    case '/about.html':
        document.getElementById('about-a').style.textDecoration = 'underline';
        break;
}

const openNav = () => {
    document.getElementById("myNav").style.width = "100%";
}

const closeNav = () => {
    document.getElementById("myNav").style.width = "0%";
}
</script>