<meta name="title" content="Togather">
<meta name="description" content="{% t index.home-text %}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://togather.me/">
<meta property="og:title" content="Togather">
<meta property="og:description" content="{% t index.home-text %}">
<meta property="og:image" content="https://togather.me{{ '/assets/images/meta.png' | prepend: site.baseurl_root }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://togather.me/">
<meta property="twitter:title" content="Togather">
<meta property="twitter:description" content="{% t index.home-text %}">
<meta property="twitter:image" content="https://togather.me{{ '/assets/images/meta.png' | prepend: site.baseurl_root }}">
