---
---

@font-face {
    font-family: 'Ostrich Sans Black';
    src: url('../fonts/ostrich-sans/OstrichSans-Black.otf');
}

body {
    font-family: 'Open Sans', sans-serif;
}

#topic-container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    background-image: url("{{ '/assets/images/background_pattern.png' | prepend: site.baseurl }}");
    background-repeat: repeat-y;
    background-size: 1200px 900px;
    height: 600px;
}

#topic-container-header {
    height: 100px;
    background: white;
}

#topic-container-list {
    height: 398px;
}

#topic-container-footer {
    height: 100px;
    background: white;
}


#chat-container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    background-image: url("{{ '/assets/images/background_pattern.png' | prepend: site.baseurl }}");
    background-repeat: repeat-y;
    background-size: 1200px 900px;
 
    height: 600px;
}

#chat-messages {
    overflow-y: auto;
    height: 100%;
}

.chat-message {
    color: black;
    margin: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    font-size: 18px;
    background: white;
}

.chat-message-name {
    font-weight: bold;
}

.chat-message-time {
    float: right;
    font-size: 15px;
    padding-top: 10px;
}

.chat-date-divider {
    border: solid;
    text-align: center;
    margin: 0px 300px 0px 300px;
    border-radius: 10px;
    border-width: 1px;
    background: rgba(225, 245, 254, 0.92);
    padding-top: 10px;
    padding-bottom: 10px;
}



.topic-container {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    max-width: 95vh;
    width: 100%;
}
  
.topic-container__level {
    align-items: center;
    display: flex;
    justify-content: center;
}

.topic-container__header {
    height: 15%;
    background: white;
}

.topic-container__header__text {
    padding: 20px;
    padding-top: -10px;
    font-size: x-small;
    text-align: center;
    font-weight: bold;
}

.topic-container__list {
    height: 70%;
    background-image: url("{{ '/assets/images/background_pattern_topics.svg' | prepend: site.baseurl }}");
    background-repeat: repeat-y;
    background-size: 150%;
    padding: 2vh;
    overflow-y: scroll;
}

.topic-container__footer {
    position: relative;
    height: 15%;
    background: white;
}

.topic-container__footer__item {
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
}

.topic-button {
    border-style: solid;
    border-radius: 25px;
    background: white;
}

.topic-container__footer__item__button {
    font-family: 'Ostrich Sans Black';
    margin: auto;
    font-size: x-large;
    padding-left: 2vh;
    padding-right: 2vh;
}

.topic {
    border-style: none;
    border-radius: 25px;
    background: white;
    padding: 10px;
    margin-bottom: 2vh;
}

.topic__header {
    display: flex;
    position: relative;
    height: 6vh;
}

.topic__header__day {
    align-self: center;
    padding-right: 2vh;
    font-weight: 600;
}

.topic__header__date {
    align-self: center;
    font-weight: 100;
}

.topic__header__delete-button {
    position: absolute;
    right: 0;
    background: none;
    border: none;
}

.topic__header__edit-button {
    position: absolute;
    right: 8vh;
    background: none;
    border: none;
}
  