---
---

@font-face {
    font-family: 'Ostrich Sans Black';
    src: url('../fonts/ostrich-sans/OstrichSans-Black.otf');
}

body, textarea, button, input, select {
    font-family: 'Open Sans', sans-serif;
}

#topic-container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    background-image: url("{{ '/assets/images/background_pattern.png' | prepend: site.baseurl }}");
    background-repeat: repeat-y;
    background-size: 1200px 900px;
    height: 600px;
}

#topic-container-header {
    height: 100px;
    background: white;
}

#topic-container-list {
    height: 398px;
}

#topic-container-footer {
    height: 100px;
    background: white;
}

#chat-container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    background-image: url("{{ '/assets/images/background_pattern.png' | prepend: site.baseurl }}");
    background-repeat: repeat-y;
    background-size: 1200px 900px;
 
    height: 600px;
}

#chat-messages {
    overflow-y: auto;
    height: 100%;
}

.chat-message {
    color: black;
    margin: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    font-size: 18px;
    background: white;
}

.chat-message-name {
    font-weight: bold;
}

.chat-message-time {
    float: right;
    font-size: 15px;
    padding-top: 10px;
}

.chat-date-divider {
    border: solid;
    text-align: center;
    margin: 0px 300px 0px 300px;
    border-radius: 10px;
    border-width: 1px;
    background: rgba(225, 245, 254, 0.92);
    padding-top: 10px;
    padding-bottom: 10px;
}

.topic-container, .chat-container {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    max-width: 95vh;
    width: 100%;
}
  
.topic-container__level, .chat-container__level {
    align-items: center;
    display: flex;
    justify-content: center;
}

.topic-container__header, .chat-container__header {
    height: 15%;
    background: white;
}

.topic-container__header__text, .chat-container__header__text {
    padding: 20px;
    padding-top: -10px;
    font-size: x-small;
    text-align: center;
    font-weight: bold;
}

.topic-container__list {
    height: 70%;
    background-image: url("{{ '/assets/images/background_pattern_topics.svg' | prepend: site.baseurl }}");
    background-repeat: repeat-y;
    background-size: 150%;
    padding: 2vh;
    overflow-y: scroll;
}

.topic-container__footer, .chat-container__footer {
    position: relative;
    height: 15%;
    background: white;
}

.topic-container__footer__item, .chat-container__footer__item{
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
}

.topic-button, .chat-button {
    font-family: 'Ostrich Sans Black';
    margin: auto;
    font-size: x-large;
    padding-left: 2vh;
    padding-right: 2vh;
    border-style: solid;
    border-radius: 25px;
    background: white;
}

.topic-container__footer__item__button, .chat-container__footer__item__button {
    font-family: 'Ostrich Sans Black';
    margin: auto;
    font-size: x-large;
    padding-left: 2vh;
    padding-right: 2vh;
    border-style: solid;
    border-radius: 25px;
    background: white;
}

.topic {
    border-style: none;
    border-radius: 25px;
    background: white;
    padding: 10px;
    margin-bottom: 2vh;
}

.topic__header {
    display: flex;
    position: relative;
    height: 4vh;
    margin-bottom: 2vh;
}

.topic__header__day {
    align-self: center;
    padding-right: 2vh;
    font-weight: 600;
}

.topic__header__date {
    align-self: center;
    font-weight: 100;
}

.topic__header__delete-button {
    position: absolute;
    right: 0;
    background: none;
    border: none;
}

.topic__header__edit-button {
    position: absolute;
    right: 7vh;
    background: none;
    border: none;
}

.topic__add-topic__options {
    height: 100%;
    display: flex;
    align-items: center;
}

.topic__add-topic__buttons-container {
    text-align: center;
    margin: auto;
}

.topic__write-topic__container {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;   
}

.topic__write-topic__textarea {
    width: 100%;
    max-width: 95vh;
    resize: none;
    border-style: groove;
    text-align: center;
    height: 20vh;
    padding: 1vh;
    margin-bottom: 1vh;
}

.topic__write-topic__date-photo-container {
    width: 100%;
}

.topic__write-topic__add-photo-label {
    float: right;
    background: white;
    background-image: url("{{ '/assets/images/photo.svg' | prepend: site.baseurl }}");
    width: 8vh;
    height: 6vh;
    background-size: contain;
    background-repeat: round;
    border: none;
    margin-right: 1vh;
}

.topic__write-topic__add-photo-input {
    display: none;
}

.topic__write-topic__date {
    text-align: center;
    border-style: groove;
    padding: 1vh;
    height: 100%;
}

.topic__write-topic__uploaded-photos {
    height: 35vh;
    width: 100%;
    overflow-y: auto;
    margin-top: 2vh;
}

.topic__write-topic__uploaded-photos__row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.topic__write-topic__uploaded-photos__column {
    flex: 25%;
    padding: 0 4px;
}
  
.topic__write-topic__uploaded-photos__image {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.topic__write-topic__photo-container {
    position: relative;
}

.topic__write-topic__uploaded-photos__delete-button {
    position: absolute;
    height: 3vh;
    width: 3vh;
    background: white;
    right: 0.1vh;
    top: 1.2vh;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 15vh;
}

.chat-container__list{
    height: 70%;
    background-image: url("{{ '/assets/images/background_pattern_chat.svg' | prepend: site.baseurl }}");
    background-repeat: repeat-y;
    background-size: 150%;
    padding: 2vh;
    overflow-y: scroll;
}