---
---

:root {
    --background-color: #F6F6F6;
    --primary-color: #7663A8;
    --primary-shadow-color: #7663A8CC;
    --secondary-color: #87428A;
    --title-color: #445364;
    --main-padding: 27px;
}

/*@media screen and (max-width: 700px) {*/
body {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;


    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--background-color);

    font: 20px/26px 'Roboto Condensed';
    letter-spacing: 0.6px;
    color: #000000;
    font-weight: 300;
}

header {
    width: 100%;
    height: 78px;
    margin-bottom: 60px;
}

h1 {

}

h2 {
    font: 20px/26px Roboto;
    letter-spacing: 0.4px;
    color: var(--title-color);
    font-weight: bold;
    font-style: italic;
}

h2.page-start {
    margin-top: 0;
}

h3 {
    text-align: center;
    font: 20px/26px 'Roboto Condensed';
    letter-spacing: 0.6px;
    color: #000000;
    font-weight: 300;
 
}

button {
    text-align: center;
    font: italic 20px/26px Roboto;
    font-weight: 700; 
    letter-spacing: 0.4px;
    color: #FFFFFF;
    height: 47px;
    width: 100%;
    max-width: 360px;
    border-radius: 47px;
    border-style: none;
    cursor: pointer;
}

button:focus, a:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px #3a97f9;
    outline: 2px dotted transparent;
    outline-offset: 2px;
}

button.primary {
    background-color: var(--primary-color);
}

button.secondary {
    background-color: var(--secondary-color);
}

main {
    padding: 0px 27px;
}

ul {
    list-style-image: url("{{ '/assets/images/tap.svg' | prepend: site.baseurl_root }}");
}

p {
    overflow-wrap: break-word;
    margin-top: 0;
}

.main-padding {
    padding: 0px var(--main-padding);
}

.main-padding-left {
    padding-left: var(--main-padding);
}

.main-padding-right {
    padding-right: var(--main-padding);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 117px;
    margin-top: 50px;
}

.header__top {
    background-color: var(--primary-color);
    display: flex;
    height: 68px;
    text-align: left;
    font: 32px/68px 'Roboto Condensed';
    letter-spacing: 0.96px;
    padding: 0px 18px 0px 21px;
    color: white;
    text-transform: uppercase;
}

.header__bottom {
    background-color: var(--primary-shadow-color);
    height: 10px;
}

.header__right {
    margin: auto;
    margin-right: 0;
}

.header__hamburguer {
    float: right;
    background: none;
    width: 37px;
    height: 33px;
    padding: 6px;
    padding-top: 0;
    border-radius: 0;
}

.header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    position: relative;
}

.header__text {
    text-align: left;
    font: 32px/43px Roboto Condensed;
    letter-spacing: 0.96px;
}

.hamburguer-line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-top: 6px;
    border-radius: 25px;
}

.hamburguer {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0%, -50%);
}

.content {
    width: 100%;
    height: 83%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.static-page-content {
    /*width: 100%;*/
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    background-color: rgb(3, 123, 126);
    margin: auto;
    margin-bottom: 0;
}

.footer__text {
    color: white;
    text-align: left;
    margin: auto;
    padding: 15px;
    line-height: 32px;
    
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 200;
    font-size: 20px;
}

.footer__text__small {
    text-align: left;
    font: Italic 12px/17px Open Sans;
    letter-spacing: 0px;
    color: white;
    padding-left: 15px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    max-width: 700px;
    /*background-color: rgb(3, 123, 126);*/
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.5s;
    visibility: hidden;
}

.overlay-content {
    position: relative;
    top: 72px;
    width: 100%;
}


.overlay .close-button{
    position: absolute;
    top: 15px;
    font-size: 50px;
    right: 18px;
    font-family: Roboto;
    padding: 6px;
    background: none;
    font-style: normal;
    width: auto;
    height: auto;
    border-radius: 0;
}

.overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;

    color: white;
    text-align: center;
    font: 40px/53px Roboto Condensed;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-weight: 400;
}

  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  


.content-header {
    width: 100%;
    min-height: 41px;
    height: 6%;
    color: white;

    font-family: 'Oswald';
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    text-align: center;
    line-height: 37px;
    font-size: 25px;
}

.content-header.topic {
    background-color: #7659B6;
}

.content-header.explained {
    background-color: #F89406;
}

.content-header.instructions {
    background-color: #2A7AB0;
}

.content-header.about {
    background: #00AA55;
}

.content-header.diary {
    display: flex;
    flex-direction: row;
    background-color: #E26A6A
}

.content-header.contact {
    background-color: #6D8891;
}

.gradient-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 500px;
}

.gradient-container.home {
    height: 350px;
    background: transparent -webkit-linear-gradient(#00797D1A 0%, #00797D00 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00797D1A 0%, #00797D00 100%) 0% 0% no-repeat padding-box;
}

.gradient-container.topic {
    background: transparent -webkit-linear-gradient(#7659B61A 0%, #2D0F3C00 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #7659B61A 0%, #2D0F3C00 100%) 0% 0% no-repeat padding-box;
}

.gradient-container.explained {
    height: 100%;
    background: transparent -webkit-linear-gradient( #F894061A 0%, #F8940600 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #F894061A 0%, #F8940600 100%) 0% 0% no-repeat padding-box;
}

.gradient-container.instructions {
    position: absolute;
    height: 250px;
    z-index: -1;
    max-width: 700px;
    background: transparent -webkit-linear-gradient(#2A7AB01A 0%, #2A7AB000 60%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #2A7AB01A 0%, #2A7AB000 60%) 0% 0% no-repeat padding-box;
}

.gradient-container.diary {
    height: 100%;
    background: transparent -webkit-linear-gradient(#E26A6A1A 0%, #E26A6A00 50%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #E26A6A1A 0%, #E26A6A00 50%) 0% 0% no-repeat padding-box;
}

.gradient-container.contact {
    height: 100%;
    background: transparent -webkit-linear-gradient(#6D88911A 0%, #6D889100 50%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #6D88911A 0%, #6D889100 50%) 0% 0% no-repeat padding-box;
}

.gradient-container.about {
    height: 100%;
    background: transparent -webkit-linear-gradient(#00AA551A 0%, #00AA5500 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #00AA551A 0%, #00AA5500 100%) 0% 0% no-repeat padding-box;
}

.topic-box {
    text-align: center;
    font: 32px/43px Roboto Condensed;
    letter-spacing: 0.64px;
    font-weight: 300;
}

.button {
    display: flex;
    text-align: center;
    padding: 10px;
    color: white;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
}

.button.round {
    border-radius: 73px;
}

.button.round.pick{
    background: #00AA00;
    margin: auto;
    margin-top: 0vh;
    margin-bottom: 20px;
}

.button.pick {
    background: #00AA00;
    margin: auto;
}

.button.give {
    background: #7659b6;
    margin: auto;
    margin-top: 20px;
}

.button.intro {
    background: #f89406;
    margin: auto;
    margin-top: 5px;
}

.button.started {
    background: #2A7AB0;
    margin: auto;
    margin-top: 15px;
}

.button.diary {
    margin: auto;
    padding: 15px 35px;
    background: #E26A6A;
    position: relative;
}

.button.about {
    background: #00AA55;
    margin: auto;
}

.button.contact {
    background: #6D8891;
    margin: auto;
    font-size: 12px;
    margin-left: 0;
    margin-top: 20px;
}

.button:disabled {
    background-color: #C7C7C7;
}

.button:hover {
    cursor: pointer;
}

.button.small-font {
    font-size: 16px;
}
  


.group-image {
    height: 100%;
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 5%, rgba(246, 246, 246, 0) 20%, rgba(246, 246, 246, 0) 50%, rgba(246, 246, 246, 0) 80%, rgba(246, 246, 246, 1) 95%), url('{{ '/assets/images/whatsapp-chat–3.png' | prepend: site.baseurl_root }}') no-repeat;
    background-size: cover;
}

.challenge-image {
    height: 100%;
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 5%, rgba(246, 246, 246, 0) 20%, rgba(246, 246, 246, 0) 50%, rgba(246, 246, 246, 0) 80%, rgba(246, 246, 246, 1) 95%), url('{{ '/assets/images/screen_share_challenge.png' | prepend: site.baseurl_root }}') no-repeat;
    background-size: cover;
    background-position-x: right;
}

.chat-image {
    height: 100%;
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 5%, rgba(246, 246, 246, 0) 20%, rgba(246, 246, 246, 0) 50%, rgba(246, 246, 246, 0) 80%, rgba(246, 246, 246, 1) 95%), url('{{ '/assets/images/whatsapp-chat–1.png' | prepend: site.baseurl_root }}') no-repeat;
    background-size: cover;
}

.export-chat-image-1 {
    height: 200px;
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 5%, rgba(246, 246, 246, 0) 20%, rgba(246, 246, 246, 0) 50%, rgba(246, 246, 246, 0) 80%, rgba(246, 246, 246, 1) 95%), url('{{ '/assets/images/Screen_group_chat-4.png' | prepend: site.baseurl_root }}') no-repeat;
    background-size: cover;
    background-position-x: right;
}

.export-chat-image-2 {
    height: 140px;
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 5%, rgba(246, 246, 246, 0) 20%, rgba(246, 246, 246, 0) 50%, rgba(246, 246, 246, 0) 80%, rgba(246, 246, 246, 1) 95%), url('{{ '/assets/images/Rectangle_250.png' | prepend: site.baseurl_root }}') no-repeat;
    background-size: cover;
    background-position-x: right;
}

.contributed-image {
    height: 100%;
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 5%, rgba(246, 246, 246, 0) 20%, rgba(246, 246, 246, 0) 50%, rgba(246, 246, 246, 0) 80%, rgba(246, 246, 246, 1) 95%), url('{{ '/assets/images/Screen_group_chat-5.png' | prepend: site.baseurl_root }}') no-repeat;
    background-size: cover;
}

.select-messages-image {
    height: 100%;
    max-height: 320px;
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 5%, rgba(246, 246, 246, 0) 20%, rgba(246, 246, 246, 0) 50%, rgba(246, 246, 246, 0) 80%, rgba(246, 246, 246, 1) 95%), url('{{ '/assets/images/Screen_group_chat-6.png' | prepend: site.baseurl_root }}') no-repeat;
    background-size: cover;
    background-position-x: right;
}

.step-2-image {
    height: 100%;
    max-height: 320px;
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 5%, rgba(246, 246, 246, 0) 20%, rgba(246, 246, 246, 0) 50%, rgba(246, 246, 246, 0) 80%, rgba(246, 246, 246, 1) 95%), url('{{ '/assets/images/inst_step2.png' | prepend: site.baseurl_root }}') no-repeat;
    background-size: cover;
    background-position-x: left;
}

.step-3-image {
    height: 100%;
    max-height: 320px;
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 5%, rgba(246, 246, 246, 0) 20%, rgba(246, 246, 246, 0) 50%, rgba(246, 246, 246, 0) 80%, rgba(246, 246, 246, 1) 95%), url('{{ '/assets/images/inst_step3.png' | prepend: site.baseurl_root }}') no-repeat;
    background-size: cover;
    background-position-x: right;
}

.mySlides {
    display: none;
    outline: lightgray;;
    outline-width: 1px;
    outline-style: solid;
}

.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: black;
}

.fade {
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    20%,80% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    20%,80% { opacity: 1; }
}

.title {
    /*
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 12px;
    */
}

.title.instructions {
    color: var(--title-color);
    margin-left: var(--main-padding);
}

.title.about {
    color: #00AA55;
    margin-left: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    height: 320px;
    margin-bottom: 50px;
}

.column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.column__text {
    text-align: left;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.column__text.left {
    margin-left: 0;
}

.column__text.right {
    margin-right: 0;
}

.column__text.top {
    margin-bottom: 10px;
}
.column__text.middle {
    margin-top: 0;
    margin-bottom: 10px;
}

.column__text.bottom {
    margin-top: 0;
    margin-bottom: auto;
}

.image-column {
    width: 75%;
    height: 100%;
}

.text-box {
    text-align: left;
    margin: 0px 27px;
}

.text-box.page-top {
    margin: 50px 27px;
}

.text-box.page-middle {
    margin-bottom: 50px;
}

.text-box.italic {
    font: 18px/24px Roboto;
    letter-spacing: 0.36px;
    font-style: italic;
}

.intro__dots {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 50px;
}

.group-start-message {
    display: flex;
    flex-direction: column;
    margin: 0px 27px;
    margin-bottom: 55px;
    margin-top: 0px;
    padding: 10px 20px;
    padding-bottom: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px dashed #707070;
    border-radius: 4px;
    text-align: center;
    font: 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
}

.modal__close-button {
    width: 100%;
    padding-left: 5px;
    text-align: right;
    font: 50px/27px Open Sans;
    cursor: pointer;
    color: #aaaaaa;
}
  
.modal__input-name {
    margin: auto;
    font: Italic 16px/22px Open Sans;
    text-align: center;
    border: 2.5px dashed #707070;
    padding: 20px 50px;
}

.modal__input-name:focus {
    outline: none;
}


.about__people-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.about__people-card {
    display: flex;
    flex: 1 1 150px;
    margin: 10px;
    margin-left: 0px;
}

.about__people-card__image {
    width: 90px;
    text-align: center;
    margin-right: 20px;
}

.about__people-card__name {
    text-align: left;
    font: 25px/39px Roboto Condensed;
    letter-spacing: 0.6px;
    color: var(--title-color);
    text-transform: uppercase;
}

.about__people-card__position {
    text-align: left;
    font: 18px/24px Roboto Condensed;
    letter-spacing: 0.9px;
    color: var(--title-color);
    font-style: italic;
}