---
---

@font-face {
    font-family: 'Ostrich Sans Black';
    src: url('../fonts/ostrich-sans/OstrichSans-Black.otf');
}

@font-face {
    font-family: 'Ostrich Sans Medium';
    src: url('../fonts/ostrich-sans/OstrichSans-Medium.otf');
}

body {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    color: black;
    font-size: 18px;

    height: calc(var(--vh, 1vh) * 100);
}

.header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    position: relative;
}

.header__text {
    font-size: 35px;
    font-family: 'Ostrich Sans Medium';
    color: rgb(3, 123, 126);
    text-align: center;
    margin: auto;
}

.hamburguer-line {
  width: 35px;
  height: 3px;
  background-color: rgb(3, 123, 126);
  margin: 6.5px 0;
}

.hamburguer {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0%, -50%);
}

.content {
    width: 100%;
    /*height: 74%;*/
    height: 83%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: rgb(3, 123, 126);
    margin: auto;
    margin-bottom: 0;
}

.footer__text {
    font-size: 30px;
    font-family: 'Ostrich Sans Medium';
    color: white;
    text-align: right;
    margin: auto;
    padding: 15px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(3, 123, 126);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    font-family: 'Ostrich Sans Medium';
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 2.5vh;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.closebtn {
    position: absolute;
    top: 1vh;
    font-size: 60px;
    left: 1.2vh;
}

.content-header {
    width: 100%;
    min-height: 41px;
    height: 6%;
    font-family: 'Ostrich Sans Medium';
    letter-spacing: 1.5px;
    text-align: center;
    line-height: 41px;
    font-size: 30px;
    color: white;
}

.content-header.topic {
    background-color: #7659B6;
}

.content-header.explained {
    background-color: #F89406;
}

.content-header.instructions {
    background-color: #2A7AB0;
}

.content-header.diary {
    display: flex;
    flex-direction: row;
    background-color: #E26A6A
}

.gradient-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 73vh;
}

.gradient-container.topic {
    background: transparent linear-gradient(180deg, #7659B61A 0%, #2D0F3C00 100%) 0% 0% no-repeat padding-box;
}

.gradient-container.explained {
    height: 100%;
    background: transparent linear-gradient(180deg, #F894061A 0%, #F8940600 100%) 0% 0% no-repeat padding-box;
}

.gradient-container.instructions {
    height: 100%;
    background: transparent linear-gradient(180deg, #2A7AB01A 0%, #2A7AB000 60%, #FFFFFF 100%) 0% 0% no-repeat padding-box
}

.gradient-container.diary {
    height: 100%;
    background: transparent linear-gradient(180deg, #E26A6A1A 0%, #E26A6A00 50%) 0% 0% no-repeat padding-box;
}

.topic-box {
    height: 40%;
    background: white;
    margin: 4vh 5.5vh;
    font-size: 18px;
    text-align: center;
    padding: 2.5vh;
    overflow: auto;
}

.button {
    display: flex;
    text-align: center;
    padding: 10px;
    color: white;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
}

.button.round {
    border-radius: 73px;
}

.button.round.pick{
    background: #00AA00;
    margin: auto;
    margin-top: 0vh;
    margin-bottom: 20px;
}

.button.pick {
    background: #00AA00;
    margin: auto;
}

.button.give {
    background: #7659b6;
    margin: auto;
    margin-top: 20px;
}

.button.started {
    background: #2A7AB0;
    margin: auto;
    margin-top: 15px;
}

.button.diary {
    margin: auto;
    padding: 15px 35px;
    background: #E26A6A;
    position: relative;
}

.button:disabled {
    background-color: #C7C7C7;
}

.button:hover {
    cursor: pointer;
}

.button.small-font {
    font-size: 16px;
}
  
.explained-box {
    text-align: center;
    margin: 8vh 3vh;
}

.group-image {
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 95%), url('{{ '/assets/images/screen_whatsapp_group.png' | prepend: site.baseurl }}') no-repeat;
    background-size: cover;
}

.challenge-image {
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 95%), url('{{ '/assets/images/screen_share_challenge.png' | prepend: site.baseurl }}') no-repeat;
    background-size: cover;
    background-position-x: right;
}

.chat-image {
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 95%), url('{{ '/assets/images/screen_group_chat.png' | prepend: site.baseurl }}') no-repeat;
    background-size: cover;
}

.explained-box-2 {
    text-align: center;
    margin: 4vh;
}

.mySlides {display: none;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: black;
}

.fade {
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    20%,80% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    20%,80% { opacity: 1; }
}

.instructions-video {
    background: white;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin: 5vh 2vh;
    height: 25vh;
    line-height: 25vh;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2vh;
}

.title.instructions {
    color: #2A7AB0;
    margin-left: 5vh;
}