
.button {
    text-align: center;
    display: flex;
    padding: 10px;
    color: white;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
}

.button.learn {
    background: #f89406;
    margin: auto;
    margin-top: 5px;
}

.button.give {
    background: #7659b6;
    margin: auto;
}

.text-box {
    padding: 20px;
    text-align: center;
}
