<!DOCTYPE HTML>
{% if page.lang %} {% assign pagelang = page.lang %} {% else %} {% assign pagelang = 'en' %} {% endif %}
<html lang="{{ pagelang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> To print </title>
        <link rel='stylesheet' href="{{ site.baseurl }}/styles/fonts.css">
        <link media='print' rel="stylesheet" href="{{ site.baseurl }}/styles/print.css" />
        <link media='screen' rel="stylesheet" href="{{ site.baseurl }}/styles/print.css" />

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
        <script src=https://html2canvas.hertzen.com/dist/html2canvas.min.js></script>

        <script type="text/javascript" src="{{ site.baseurl }}/js/print.js"></script>


        <style>
            @media print {
                body{
                    width: 21cm;
                    height: 29.7cm;
                    margin: 30mm 45mm 30mm 45mm; 
                } 
            }

               body{
                    width: 21cm;
                    height: 29.7cm;
                    margin: 30mm 45mm 30mm 45mm; 
                } 
        </style>
    </head>
    <body>
        <div class="container">
            {{ content }}
            <button onclick="print(4)">Click me</button>
        </div>
    </body>
</html>