---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>While you were fighting</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="{{ '/assets/css/challenge.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="section">
        <div class="container">
                <div class="level">
                    <div class="level-item">
                        <h1 class="is-size-2"> Your Daily Challenge </h1>
                    </div>
                </div>
                <div class="level">
                    <div id="challenge-description" class="level-item">
                        <div> {{ page.description }} </div>
                    </div>
                </div>
                <div class="level">
                    <div class="level-item">
                        <button id="challenge-button" class="is-size-3" onclick="getChallenge()"> Give me another challenge </button>
                    </div>
                </div>
                <div class="level">
                    <div class="level-item">
                        <button id="share-button" class="is-size-4" onclick="shareChallenge()"> Share on WhatsApp </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const getChallenge = () => {
            let challenge = Math.floor(Math.random() * 5) + 1
            window.location.href = `{{ site.url }}{{ site.baseurl }}/challenges/${challenge}`;
        }
        const shareChallenge = () => {
            let link = `https://wa.me/?text=${encodeURI("{{ site.url }}{{ site.baseurl }}{{page.url}}")}`
            window.open(link, '_blank');
        }
    </script>
</body>
</html>