---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include share-meta-tags.html %}
    {% include favicon.html %}
    {% include fathom-tracking.html %}
    {% include fonts.html %}
    <link href="{{ '/assets/css/home.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
    <title>Togather</title>
</head>
<body>
    {% include header.html title=page.title %}
    {{ content }}
    {% include new-footer.html %}
<script>

// Opera 8.0+
//var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

// Firefox 1.0+
//var isFirefox = typeof InstallTrigger !== 'undefined';

// Safari 3.0+ "[object HTMLElementConstructor]" 
//var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

// Internet Explorer 6-11
//var isIE = /*@cc_on!@*/false || !!document.documentMode;

// Edge 20+
//var isEdge = !isIE && !!window.StyleMedia;

// Chrome 1 - 79
//var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);

// Edge (based on chromium) detection
//var isEdgeChromium = isChrome && (navigator.userAgent.indexOf("Edg") != -1);

// Blink engine detection
/*
var isBlink = (isChrome || isOpera) && !!window.CSS;

console.log('Detecting browsers:');
console.log('isFirefox: ' + isFirefox);
console.log('isChrome: ' + isChrome);
console.log('isSafari: ' + isSafari);
console.log('isOpera: ' + isOpera);
console.log('isIE: ' + isIE);
console.log('isEdge: ' + isEdge);
console.log('isEdgeChromium: ' + isEdgeChromium);
console.log('isBlink: ' + isBlink);
*/

var isIE = /*@cc_on!@*/false || !!document.documentMode;
if(isIE) {
    window.location = "{{ site.baseurl }}/iesupport";
}
            
</script>

    <script>
    


        // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
        let vh = window.innerHeight * 0.01;
        // Then we set the value in the --vh custom property to the root of the document
        document.documentElement.style.setProperty('--vh', `${vh}px`);

        // We listen to the resize event
        window.addEventListener('resize', () => {
            // We execute the same script as before
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', `${vh}px`);
        });
    
    </script>
</body>
</html>